.callList_main {
    position: relative;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding:0 6px 6px 6px;
    cursor: pointer;

  
       .btn_wrapper {
           // display: none;
           display: block;
           font-weight: bold;
       }

       &:hover {
           .btn_wrapper {
               display: block !important;
           }
       }

       .callList_content {
           position: relative;

       }

       .callList_head {
           height: 32px;
           width: 150px;
       }

       .callList_head_bg {
           display: inline-block;
           height: 18px;
           width: 18px;
           border-radius: 50%;
           vertical-align: middle;
           background-image: url(../../common/img/cc.png);
           background-size: 100%;
           line-height: 24px;
       }

       .callList_head_name {
           display: inline-block;
           line-height: 18px;
           font-size: 12px;
           margin: 0 5px;
           overflow: hidden; //超出的文本隐藏
           text-overflow: ellipsis; //溢出用省略号显示
           white-space: nowrap;
           vertical-align: middle;
           width: 100px;
       }
       .callList_status{
           position: absolute;
           bottom: 2px;
           left:10px;
           height: 10px;
           width: 10px;
           border-radius: 50%;
           background-color: red;
           &.blue{
               background-color: rgb(132, 213, 163);
           }
       }
}